
AutoFacTutorial/.vs/AutoFacTutorial/v15/Server/sqlite3/db.lock
AutoFacTutorial/.vs/AutoFacTutorial/v15/Server/sqlite3/storage.ide
AutoFacTutorial/.vs/AutoFacTutorial/v15/Server/sqlite3/storage.ide-shm
AutoFacTutorial/.vs/AutoFacTutorial/v15/Server/sqlite3/storage.ide-wal
AutoFacTutorial/packages/Autofac.4.8.1/Autofac.4.8.1.nupkg
AutoFacTutorial/packages/Autofac.4.8.1/lib/net45/Autofac.dll
AutoFacTutorial/packages/Autofac.4.8.1/lib/net45/Autofac.xml
AutoFacTutorial/packages/Autofac.4.8.1/lib/netstandard1.1/Autofac.dll
AutoFacTutorial/packages/Autofac.4.8.1/lib/netstandard1.1/Autofac.xml
